@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --overlay-color: rgba(0, 0, 0, 0.6);
}

*{
    box-sizing: border-box;
}

/* html {
    margin: 0 auto;
    max-width: 1500px;
} */

body {
    font-family: 'Inter', sans-serif;
    align-items: center;
    text-align: center;
}

header {
    margin: 30px 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align:center;
}

.logo {
    margin-right: auto;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid #000000;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 15px;
    align-items: center;
    text-align: center;
}

button:hover {
    background-color: #000000;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 50px 100px;
    max-width: 1800px;
}

.cards-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-style: normal;
    font-size: 35px;
    font-weight: bolder;
    color: black;
    margin-bottom: 0px;
}

p {
    font-style: normal;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    font-weight: 600;
    color: white;
}

.card {
    cursor: pointer;
    position: relative;
    width: 350px;
    height: 270px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    padding: 0;
    margin: 0 30px 20px 0;
    transition: all ease-in-out 65ms;
}

.card:hover {
    --overlay-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
}

footer {
    position: absolute;
    height: 150px;
    width: 100%;
    background-color: #000000;
}

footer p {
    font-family: "Inter";
    /* padding: 0px; */
    margin: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 30px;

}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
